# Todo necesita al menos leads
* @tu-org/Software262

# Backend específico
backend/ @tu-org/backend-ps-devs
app/ @Software262/backend-ps-devs
*.py @Software262/backend-ps-devs

# Docs y config
docs/ @Software262/tech-leads
.github/ @Software262/tech-leads
