# Todo necesita al menos leads
* @Software262/tech-leads

# Backend específico
backend/ @Software262/backend-ps-devs
api/ @Software262/backend-ps-devs
*.py @Software262/backend-ps-devs

# Docs y config
docs/ @Software262/tech-leads
.github/ @Software262/tech-leads
